.vs/AspIdentity/v16/.suo
.vs/AspIdentity/v16/Server/sqlite3/db.lock
.vs/AspIdentity/v16/Server/sqlite3/storage.ide
.vs/AspIdentity/v16/Server/sqlite3/storage.ide-shm
.vs/AspIdentity/v16/Server/sqlite3/storage.ide-wal
App_Data/aspnet-AspIdentity-323b3d37-a536-4abc-bb8b-53a273f2918e_log.ldf
App_Data/aspnet-AspIdentity-323b3d37-a536-4abc-bb8b-53a273f2918e.mdf
